.Buttondelete{
margin-left:690px;

}
.Buttonmodal{
    padding-left:0px;
    padding-right:1px;
    padding-bottom:2px;
    padding-top:2px;
    height:40px;
    width:58px;
    margin-left:734px;
    margin-top:10px;
   
}